<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Exo 1 Symfony{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
    </head>

    <body>
        {% block menu %}
            <nav>
                <a href="{{ path('nom_page_accueil') }}">Accueil</a>
                <a href="{{ path('login') }}">Login</a>
                <a href="{{ path('jeu') }}">Jeu</a>
            </nav>
        {% endblock %}

        {% block body %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
